  <form name="formulaire" class="vierge">
    <div> Formulaire </div>
    <input type="radio" value="M" class="vierge"> M 
    <input type="radio" value="Mme" class="vierge"> Mme 
    <input type="radio" value="" class="vierge" >je ne sais pas
    <label > FirstName: </label><input class="vierge" id="firstName" type="text" name="firstName"></br>
    <label > LastName:  </label><input class="vierge" id="lastName" type="text" name="lastName"></br>
    <label > Email:  </label><input class="vierge" id="email" type="email" name="email"></br>
    <label > Code postal:   </label><input  class="vierge" id="cb" type="text" name="cb"></br>
    <label > Category :   </label>
    <select id="category">
      <option>category1</option>
      <option>category2</option>
      <option>category3</option>
    </select>
    </br>
    <label> Message</label>
    <textarea class="vierge" id="textname" name="textarea"></textarea>
    </br>
    <input type="submit" value="submit" onclick="valider();"> Save
 </form>